.div-show{
    border: 3.3px inset rgb(79, 79, 167);;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(224, 243, 249);
}
.edit-btn {
    margin-right: 20px;
}
.first-a {
    margin-right: 10px;
}
ul {
    list-style-type:none;
    align-items: left;
    justify-content: left;
}
.h2-showpage{
    border: 2px solid gray;
}
.span-li{
    font-size: 14px;
    font-weight: bold;
}
.span{
    font-weight: bold;
    font-size: 14px;
}
.divshow-post{
    text-align: left;

}
.p-showpost{
    text-align: left;
    font-size: 14px;
}
.p2-showpost{
    text-align: left;
    font-size: 9px;
}