.lost-index {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.view-posts ul {
    list-style-type: none;
}

.view-posts ul li {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.span-lost {
    color:red;
}