.NavBar {
    display: flex;
  }
  
 
  
  .NavBar-welcome {
    color: grey;
  }
  /* .div-nav{
    float: right;
    justify-content: right;
    align-items: flex-end;

  } */
  .navbar-toggler{
    margin-left: 300px;;
  }
  .nav-logo{
    font-size: 18px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  .nav-logo:hover{
    color: hotpink;
    font-weight: bold;
    text-decoration: blink;
  }
  .nav2-logo{
    font-size: 18px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav2-logo:hover{
    color: hotpink;
    font-weight: bold;
    text-decoration: blink;
  }
  @media only screen and (min-width: 752px){
    .payam{
      margin-left: 700px;
    }
    .NavBar-link {
      margin-left: 700px;
      color: gray;
    }
}
@media only screen and (max-width:752px){
  .nav-logo{
    font-size: 12px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav-logo:hover{
    color: hotpink;
    font-weight: bold;
    text-decoration: blink;
  }
  .nav2-logo{
    font-size: 12px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav2-logo:hover{
    color: hotpink;
    font-weight: bold;
    text-decoration: blink;
  }
  .NavBar-link {
    margin-left: 0;
    color: gray;
  }
}