.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  display: flex;
  justify-content: space-around;
}
body {
  background-image: url('https://img.jakpost.net/c/2017/10/13/2017_10_13_34011_1507881895._large.jpg');
  background-size: 200vh 100vh
}
.link-app{
  color: wheat;
  font-size: 36px;
}
.h1-app{
  color: aqua
}
.p-app{
  color: whitesmoke;
}