.App {
  text-align: center;
}
.span-app{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.h1-app{
  border: 1px solid rgb(79, 79, 167);;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(224, 243, 249);
  text-align: left;
  font-size: 12px;
  margin-top: 1%;
}


body{
  background-color: rgba(173,216,230,1);

}

.App-link {
  color: #61dafb;
}
.link-app{
  font-size: 35px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.link-app:hover{
  color: hotpink;
  font-size: 50px;
  text-decoration: blink;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
